@import url("./style/header.css");
@import url("./style/pesquisa.css");
@import url("./style/carrossel.css");
@import url("./style/rodape.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Indie+Flower&family=Pacifico&family=Satisfy&family=Shadows+Into+Light&family=Whisper&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');




:root{
    --fonte-principal:"Montserrat", sans-serif;
    --cor-principal: #490964;
    --cor-de-fundo: #F7EBEC;
    --cor-de-fundo-secundaria: #ffffff;
    --cor-fonte-principal: #ffffff;
    --cor-fonte-secundaria: #490964;
    --fonte-logo: "Caveat", cursive;
    --fonte-banner: font-family: "Raleway", sans-serif;
}

body{
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 600;
    background-color: var(--cor-de-fundo-secundaria);
}


