*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabeçalho{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-principal);
}

.container__header{
    background-color: var(--cor-principal);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 1em;
}

.container__header-menu {
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu__hamburguer{
    background-image: url(../img/header/menu-hamburguer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 40px;
    height: 34px;
}

#lista__menu {
    display: none;
    position: absolute;
    width: 60vw;
    z-index: 1000;
}

.lista__item{
    padding: 1em;
    background-color: var(--cor-de-fundo);
}

.menu__hamburguer-checkbox{
    display: none;
}

.lista__link{
    background: var(--cor-principal);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.icone__login{
    background-image: url(../img/header/profile-circle-svgrepo-com\ \(2\).svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: 42px;
    height: 35px;
}

.container__header-logo{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    width: 42px;
    height: 30px;
}

.container__header-compras{
    display: flex;
    gap: 7px;

}

.icone__favoritos{
    background-image: url(../img/header/curtidas.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 35px;
    height: 32px;
}

.icone__compras{
    background-image: url(../img/header/compras.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 35px;
    height: 33px;
}

#comprasCarrinho{    
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--cor-fonte-principal);
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.container__menu-desktop {
    display: none;
}

.lista__menu-desktop{
    height: 100%;
}

.container__login{
    display: flex;
}

.icone__login-desktop{
    display: none;
}

.icone__login-texto{
    display: none;
}

.icone__favoritos-texto{
    display: none;
}

.icone__favoritos-texto a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.icone__compras-texto{
    display: none;
}

.icone__compras-texto a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.logo-beleza {
    color: var(--cor-fonte-principal);
    font-weight: 800;
    font-size: 35px;
    font-family: var(--fonte-logo);
}

.logo-essencia {
    color: var(--cor-fonte-principal);
    font-weight: 400;
    font-size: 25px;
    font-family: var(--fonte-logo);
}

.container__logo {
    user-select: none;
    padding: 0 0.5em;
}

.container__submenu {
    width: 100%;
    height: 5vh;
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
    display: none;
}

.container__promocao {
    width: 100%;
    height: 3vh;
    background-color: var(--cor-de-fundo);
    display: none;
    justify-content: center;
    align-items: center;
}

.promocao__header {
    width: 50%;
    display: flex;
    justify-content: center;
}

.promocao__header-texto {
    font-weight: 500;
    color: var(--cor-principal);
}

.container__modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    background-color: var(--cor-de-fundo);
    margin: 15% auto;
    padding: 1.5em;
    border-radius: 5px;
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal__header{
    display: flex;
    justify-content: end;
    width: 100%;
}

.modal__body{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.modal__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    padding-bottom: 2em;
}

.modal__body-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 1em;
}

.input__modal {
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: 2px solid var(--cor-principal);
    border-radius: 5px;
    padding: 0.5em;
}

.modal__fechar-icon{
    background-image: url("../img/header/modal/close.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
}

.botao__modal {
    background-color: var(--cor-principal);
    color: var(--cor-fonte-principal);
    font-size: 20px;
    text-decoration: none;
    border: 1px solid var(--cor-principal);
    border-radius: 20px;
    width: 100%;
    gap: 10px;
    padding: 0.5em 0;    
}

.modal__login {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 1.5em;
    color: var(--cor-principal);
}

.dropdown {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8vh;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 2000;
    width: 100vw;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-item{
    display: flex;
    padding: 1em 1em;
    justify-content: space-between;
    min-height: 8   0px;
    align-items: start;
    gap: 1em;
}

.carrinho__vazio {
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
    align-items: start;
    font-size: 20px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}


.dropdown-item-icon {
    width: 80px;
    height: 70px;
    border: 2px solid var(--cor-principal);
    border-radius: 15px;
}

.titulo-item {
    font-size: 22px;
}

.descricao-item {
    font-size: 14px;
    font-weight: 400;
}


.dropdown-item-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5em;    
    width: 100%;
    height: 80px;
}

.preco-item {
    font-size: 20px;
    font-weight: 700;
    color: var(--cor-fonte-secundaria);
    white-space: nowrap;
    padding: 1em 0;
}

.dropdown-botao-limpar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid var(--cor-fonte-secundaria);
    border-radius: 5px;
    width: 25px;
    height: 25px;
    gap: 10px;
    padding: 0.5em 0;    
}

.dropdown-botao-limpar:hover {
    background-color: rgba(73, 9, 100, 0.95);
}

.dropdown-botao-pagar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal);
    color: var(--cor-fonte-principal);
    font-size: 20px;
    text-decoration: none;
    border: 1px solid var(--cor-fonte-principal);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 0.5em 0;    
}

.dropdown-botao-pagar:hover {
    background-color: rgba(73, 9, 100, 0.95);
}

.dropdown-botao-pagar:active {
    background-color: rgba(73, 9, 100, 0.8);
}


@media screen and (min-width: 768px){
    #lista__menu{
        width: auto;
    }
    
    .modal {
        padding: 3em;
        width: 70%;
        height: 60%;
    }

    .dropdown {
        top: 8vh;
        right: 0;
        width: 60vw;
    }

    .preco-item {
        font-size: 18px;
        font-weight: 700;
        color: var(--cor-fonte-secundaria);
        white-space: nowrap;
        padding: 1em 0;
    }
    
}

@media screen and (min-width: 1024px) {

    .modal {
        padding: 3em;
        width: 60%;
        height: 60%;
    }

    .dropdown {
        top: 4vh;
        right: 0;
        width: 40vw;
    }

    .container__header{
        padding: 0;
        width: 70%;
    }

    .container__submenu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container__menu-desktop {
        display: flex;
        height: 100%;
    }

    .lista__menu-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;       
        gap: 1.5em;
    }

    .lista__link-desktop{
        color: var(--cor-principal);
        text-decoration: none;
        font-size: 18px;
    }

    .menu__hamburguer{
        display: none;
    }

    .lista__item-desktop {
        height: 90%;
        display: flex;
        align-items: center;
    }

    .lista__item-desktop:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transition: background-color 0.4s ease;        
        transform: scale(1.1);
        vertical-align: middle;
        padding: 0 1em;
        border-bottom: 5px var(--cor-principal) solid;
    }

    .icone__login-desktop{
        display: inline-block;
        color: var(--cor-fonte-principal);
        font-weight: 300;
    }

    .icone__login-texto a{
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        color: var(--cor-fonte-principal);
    }

    .container__favoritos {
        display: flex;
        align-items: center;
        padding: 0 1em;
        gap: 0.5em;
    }
    
    .container__compras {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    

    
}

@media screen and (min-width:1280px){
    .icone__login-texto{
        display: inline-block;
    }
    
    .icone__favoritos-texto{
        display: inline-block;
    }
    
    .icone__compras-texto{
        display: inline-block;
    }

    .dropdown {
        top: 6vh;
        right: 0;
        width: 40vw;
    }

    
}

@media screen and (min-width:1440px){
    .modal {
        padding: 3em;
        width: 40%;
        height: 60%;
        position: fixed;
        top: -10%;
        left: 30%;
    }

    .dropdown {
        top: 5vh;
        right: 0;
        width: 36vw;
    }
}

@media screen and (min-width:1920px){
    .container__header{
        width: 50%;
    }
    
    .dropdown {
        top: 5vh;
        right: 0;
        width: 27vw;
    }
}

@media screen and (min-width:2560px){
    .modal {
        overflow: hidden;
        padding: 3em;
        width: 30%;
        height: 55%;
        position: fixed;
        top: -25%;
        left: 35%;
    }

    .dropdown {
        top: 6vh;
        right: 0;
        width: 20vw;
    }

    .preco-item {
        padding: 1.5em 0;
    }
}

