.wrapper {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-auto-rows: 30vh;
    padding: 0.5em 5vw 5em 5vw;
    text-align: center;
    gap: 10vh 10vw;
}

.container__produto{
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgba(255, 255, 255, 0.6);
    height: 270px;
    width: 100%;
    border: 0.5px solid var(--cor-fonte-principal);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1em;
    position: relative;
}

.container__produto-texto {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 40%;
}

.produto__texto {
    display: flex;
    font-size: 15px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1em;
    padding: 1em 0em;
}

.produto__nome {
    font-size: 17px;
    font-weight: 400;
}

.produto__icones-favorito{
    background-image: url(../img/header/curtidaproduto.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
}

.produtos__icones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto__icones-carrinho{
    background-image: url(../img/header/compraproduto.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 35px;
    height: 35px;
}

.imagens-produtos {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.container__produto span {
    width: 100%;
    height: 100%;
    display: inline-block;    
}

.botao__icone-carrinho {
    background-image: url(../img/header/compras.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.botao__carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal);
    color: var(--cor-fonte-principal);
    font-size: 20px;
    text-decoration: none;
    border: 1px solid var(--cor-fonte-principal);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 0.5em 0;
    
}

@media screen and (min-width:400px){
    .wrapper {
        grid-template-columns: 39vw 39vw;
        grid-auto-rows: 25vh;
    }
}


@media screen and (min-width: 768px) {
    .wrapper {
        grid-template-columns: 35vw 35vw;
        padding: 0.5em 10vw 5em 10vw;
        grid-auto-rows: 25vh;
    }
    
    .container__produto {
        height: 300px;
        width: 100%;

    }
    .imagens-produtos {
        height: 170px;
        width: 100%;
    }

}

@media screen and (min-width: 820px) {
    .wrapper {
        grid-auto-rows: 25vh;
    }
}


@media screen and (min-width: 1024px) {
    .wrapper{
        grid-template-columns: 25vw 25vw 25vw;
        grid-auto-rows: 35vh;
        gap: 10vh 3vw;
    }

    .container__produto{
        height: 400px;
        width: 100%;
    }

    .imagens-produtos {
        height: 220px;
        width: 100%;
    }

    .produto__texto {
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: 1em 0;
        align-items: center;
    }

    .container__produto10{
        display: none;
    }

}

@media screen and (min-width: 1280px) {
    .wrapper{
        grid-auto-rows: 50vh;
        gap: 15vh 4vw;
    }

    .container__produto{
        height: 500px;
        width: 100%;
    }

    .imagens-produtos {
        height: 290px;
        width: 100%;
    }

    .produto__icones-favorito {
        margin: 1em;
        padding: 2em;
    }
}

@media screen and (min-width: 1440px) {
    .wrapper{
        grid-auto-rows: 50vh;
        gap: 10vh 4vw;
    }

    .container__produto{
        height: 500px;
        width: 100%;
    }

    .imagens-produtos {
        height: 290px;
        width: 100%;
    }

    .produto__icones-favorito {
        margin: 1em;
        padding: 2em;
    }

    .produto__nome {
        font-size: 20px;
        font-weight: 400;
    }

    .produto__preco {
        font-size: 20px;
    }
    
}

@media screen and (min-width: 1920px) {
    .wrapper{
        grid-auto-rows: 45vh;
        gap: 5vh 4vw;
    }

    .container__produto{
        height: 500px;
        width: 80%;
    }

    .imagens-produtos {
        height: 290px;
        width: 100%;
    }

    .produto__icones-favorito {
        margin: 1em;
        padding: 2em;
    }
}


@media screen and (min-width: 2560px) {
    .wrapper{
        grid-auto-rows: 50vh;
        gap: 10vh 4vw;
    }

    .container__produto{
        height: 500px;
        width: 80%;
    }

    .imagens-produtos {
        height: 290px;
        width: 100%;
    }

    .produto__icones-favorito {
        margin: 1em;
        padding: 2em;
    }
}